@model IEnumerable<Jurdoc.Api.Models.Escritura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDESCRITURA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NUMEROESCRITURA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SOLICITANTE)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaEscritura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDESCRITURA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMEROESCRITURA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLICITANTE)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaEscritura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDESCRITURA }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.IdEscritura }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.IDESCRITURA })
            </td>
        </tr>
}
    </tbody>
</table>
